body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
#picture-container {
    position: relative;
    text-align: center;
    color: white;

    position: relative;
    min-width: 100vh;
    max-height: 1080px;
  }

  #page-container{
    display: fixed;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
  }

  .container{
      padding-left: 15%;
      padding-right: 15%;
  }

header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: lighter;
}

main{
    padding-top: 30px;
    padding-bottom: 60px;
}

.picture{
    width: 100%;
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    padding-left: 25px;
}

.centered {
    display: inline;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
}

#cv-info{
    padding-left: 175px;
    padding-right: 155px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


table{
  width: 100%;
  min-width: 800px;
}

td{
  padding:15px 5px ;
  vertical-align: top;
  line-height: 25px;
  width: 50%;
}

ul, li{
  padding-top: 0;
  margin: 0;
}


#top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;

}

.logo{
    columns: lightgrey;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

}

.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links a{
    color:lightgrey;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:14px;
}

.nav-links li{
    list-style: none;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height:5px;
    background-color: lightgrey;
    margin:5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height:92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;

    }
    .burger{
        display: block;

    }
    
}
@media screen and (max-width:1024px){
    .nav-links{
        width:50%;

    }

}

.nav-active{
    transform: translate(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);

}


.toggle .line2{
    opacity: 0;

}


.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);

}

